.showhide {
  position: absolute;
  bottom: 0.7em;
  right: 0.7em;
}

.toggler {
  background-color: rgb(56, 84, 163);

  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.show {
  padding: 20px 10px;
}
.hide {
  padding: 18px 10px;
}
.toggler:hover {
  transform: scale(1.1);
}
